.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.form-container {
  width: 350px;
  margin: 0 auto;
}

.movie-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
